.jp-OutputWidgetPlotly, .jp-DocWidgetPlotly {
  width: 100%;
  padding: 0;
}

.jp-OutputWidgetPlotly {
  margin-top: 5px;
  height: 360px;
}

.jp-DocWidgetPlotly {
  overflow: auto;
}

.jp-DocWidgetPlotly .jp-mod-error {
  width: 100%;
  min-height: 100%;
  text-align: center; 
  padding: 10px; 
  box-sizing: border-box;
}

.jp-DocWidgetPlotly .jp-mod-error h2 {
  font-size: 18px; 
  font-weight: 500; 
  padding-bottom: 10px;
}

.jp-DocWidgetPlotly .jp-mod-error pre {
  text-align: left; 
  padding: 10px; 
  overflow: hidden;
}
